extends layout

block content
  #main
    .sub
      .title
        |typographer
      .featurette
    include partials/nav
    #newForm
      #headerBox
        #header #{page}
      p #{data.username}'s artwork collection:
      .userArtwork
        if data.artworkId
          each item in data.artworkId
           .profileEntry
              .profileItem 
                a.artwork(href="/view/"+data._id+"/"+item.id)= item.name
              .artURLs= item.url
              .profileEdit
                a.artwork(href="/edit/"+data._id+"/"+item.id) edit
              .deleteButton
                a.profileDelete(href="/delete/"+data._id+"/"+item.id) X
        //- .hidden
        //-   each item in urls
        //-     .artworks
        //-       span=item.artId
        //-       span=item.url
          
      #featuredProfile
      
