extends layout

block content
  #main
    .sub
      .title
        |typographer
      .featurette
    .nav
      .nav_button_dis ♥
      
    #newForm
      form(action="/signup" method="POST")
        .row
          label
            .label  User Name
            if errors
              if errors.name !== ''
                input.inputField_error(name="userName" type="text" value=posted.username)
                .errors #{errors.name}
              else
                input.inputField(name="userName" type="text" value=posted.username)
                .errors
            else
              input.inputField(name="userName" type="text" placeholder="user name")
              .errors
        .row
          label
            .label  Password
            if errors
              if errors.password !== '' || errors.confirm !== '' 
                input.inputField_error(name="password" id="password" type="text" placeholder="password")
                .errors #{errors.password}
              else
                input.inputField(name="password" id="password" type="text" placeholder="password")
                .errors
            else
              input.inputField(name="password" id="password" type="text" placeholder="password")
              .errors
        .row
          label
            .label Confirm Password
            if errors
              if errors.confirm !== ''
                input.inputField_error(name="confirm" id="confirm" type="text" placeholder="confirm")
                .errors #{errors.confirm}
              else
                input.inputField(name="confirm" id="confirm" type="text" placeholder="confirm")
                .errors
            else
              input.inputField(name="confirm" id="confirm" type="text" placeholder="confirm")
              .errors
        .row
          label
            .label
            input.button_submit(type="submit" value="Sign up!")
            a.button_submit(href="login") 
              .buttontxt login!
    #featuredNew
